<%/* página gerada, imagem de fundo é o h1 */%>
<%- include('header') %> 
             
        <h1><a href="/"><img src="/crachabus.png"></a></h1> 
            <div class="gbairro"> <%= bairro %> </div>
            <div class="gequipe"><%= equipe %></div>
            <div class="gmodelo"><%= modelo %></div>
            <div class="gplaca"><%= placa %></div>            
<%- include('footer') %>   